<!DOCTYPE html>
<!--ref:https://ebank.taipeifubon.com.tw/B2C/cfhqu/cfhqu017/CFHQU017_Home.faces-->
<html>
<script src="angular.min.js"></script>
<body>
<h1>Deposit calculator</h1>
<div ng-app="myApp" ng-controller="myCtrl">

Amount: <input type="text" ng-model="amount" value="10000"/><br>
Annual interest rate: <input type="text" ng-model="annualRate" value="2"/> % <a href="https://ebank.taipeifubon.com.tw/B2C/cfhqu/cfhqu012/CFHQU012_Home.faces?popupMode=true">Query report</a><br>
Deposit term: <input type="text" ng-model="depositTerm" value="12"/> month<br>
<br>
Result: ${{result()}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
	$scope.amount="10000";
	$scope.depositTerm="12";
	$scope.annualRate="2";
    $scope.result= function() {
        return  ($scope.annualRate/100)*($scope.depositTerm/12)*$scope.amount;
    };
});
</script>

</body>
</html>

